*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}


.container{
    height: 100%;
    width: 100%;
    padding: 4rem;
    display: grid;
    gap: 1rem;
    background-color: #817070;
     /* grid-template-columns: repeat(3 , 1fr);  */
     grid-template-columns: repeat(auto-fit, minmax(200px,500px)); 
}

.item{
    border: 3px solid rgb(31, 29, 29);
    background-color: rgb(173, 47, 47);
    color: white;
    padding: 1rem;
}