/* transition in css */
.box{
    height: 400px;
    width: 400px;
    border:2px solid black ;
    background-color: aqua;

    /* transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: linear;
 */

/* shorthand notation
transition: property name   duration   easing fuction     delay */

transition: all 2s ease-in 5s;

}



.box:hover{
    width: 1200px;
    background-color: blue;
}

/* it ia mandatory to add hover state */

