.container{
    background-color: beige;
    height: 2000px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: aqua;
    width: 700px;
    height: 600px;
    border: 1px solid brown;
    margin: 5px;
    padding:5px;
    box-shadow: 50px 30px brown;
}

