/* css position property */


.image{
    margin: 500px;
}

div{

     border: 1px solid black; 

}

/* .image2{
    /* position: relative;
    top: 200px; */
 */

.image2{
     position: absolute;
     top: 250 px;
} 

.image4{
    position: fixed;
}


.image3{
    position: sticky;
    top: 100px;
}

.container{
    height: 8000px;
}
