#navlist{
    list-style: none;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

nav{
    width: 100%;
    overflow-x: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
   width: 100vh;
   height: 100vh;
   overflow-x: none;
}

.navcontainer{
    width: 100vw;
    background-color: rgb(7, 146, 146);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#navlogo{
    font-size: 3rem;
    color: whitesmoke;
    text-decoration: none;
}